.container2 {
   

     background-color: aqua;
    border: 1px solid red;
    height: 300px;
   
    display: flex;
       
   justify-content: center;

     /* flex-wrap: wrap;  
}   */

.box {
    width: 60px;
    height: 60px;
    background-color: brown;
    border: 2px solid white;
}

#container {
    display: flex;
    border: 2px solid black;
}


.box2{
    flex-grow: 1;      /* it will grow full screen */
    flex-basis: 0;
}
.box1{
   
   
   flex-shrink: 2;   /* it will shrink the box 1 very fast way*/
    /* flex: 1; */   /*     first box will cover remaining */
}
/* #box1 {
    background-color: rgb(255, 0, 0);
}

#box2 {
    background-color: rgb(0, 204, 255);
}

#box3 {
    background-color: rgb(255, 238, 0);
}
  */
