a:link{
    color: red;
    size: 30px;
}

a:visited{
    color: rgb(89, 255, 0);

   
}
a:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border: 4px solid rgb(0, 255, 225)
}

a:focus{
    color: red ;
    font-size: 20px;
  
}
a:active{
    color: white;
    font-size: 40px;
}


p{
   border: 4px solid rgb(225, 255, 0); 
   width: 300px;
    height: 100px;
    background-color: red;
    overflow: scroll;
    

   padding: 30px;
    margin: 40px;

   /*
    border-left: dotted black;
    border-bottom: 20px solid aqua;
    border-right: 10px double blue;
    border-top: 15px dotted red;    
    
*/


}
div{
    border: 3px solid black;
    padding: 30px;
    margin: 30px;
}